{% extends 'tienda/base.html'%}
{% block contenido %}
{% load static %}
<head>
    <!--vincular a css-->
    <link rel="stylesheet" href="{% static 'css/artista_estilo.css'%}"/>

</head>
<body>
    <!--Galería de artistas-->
    <section id="g-artistas" class="container">
      <div class="d-flex justify-content-center ">
        <h1>Artistas</h1>
      </div>
        <div class="row d-flex justify-content-center">
          {% for a in artistas %}
          <div class="col-lg-3 col-md-4 col-sm-6">
            <figure>
              {% if a.imagen %}
              <img src="{{a.imagen.url}}" alt="Galeria artistas" >
              {% endif %}
              <figcaption>
                <p>{{a.nombre}}</p>     
              </figcaption>
            </figure>
          </div>
          {% endfor %}
        </div>
    </section>

{% endblock %}

