{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" href="{% static 'img/musicShop.jpeg'%}">
    <title>The Music Shop</title>
    <!--Bootstap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" 
    crossorigin="anonymous">
    <!--vincular a css-->
    <link rel="stylesheet" href="{% static 'css/producto.css'%}"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--Link para los iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>   
<header>
    <!--Barra de navegación-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" >
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home'%}">INICIO</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'artista'%}">ARTISTAS</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'producto'%}">PRODUCTOS</a> <!--PRODUCTOS-->
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    CONTACTO
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://instagram.com/konlyrics?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-envelope"></i> musicshop@gmail.com</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-brands fa-whatsapp" style="color: #071f42;"></i> +569 12345678</a></li>
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    MI CUENTA
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'registro'%}"><i class="fa-regular fa-pen-to-square"></i> Registro</a></li>
                    <li><a class="dropdown-item" href="{% url 'login'%}"><i class="fa-regular fa-circle-user"></i> Mi cuenta</a></li>
                </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'ubicacion'%}">VISÍTANOS</a> 
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="nav container">

        <!--- Cart-Icon -->
        <i class='bx bx-shopping-bag' id="cart-icon"></i>
        <!--Cart-->
        <div class="cart">
            <h2 class="cart-title"> Tus Productos </h2>
            <!--Contenido-->
            <div class="cart-content">
                

            </div>
            <!--total-->
            <div class="total">
            <div class="total-title"> Total </div>
            <div class="total-price"> $0 </div>
        </div>
        <!-- Boton de compra-->
        <button type="button" class="btn-buy"> Comprar ahora </button>
            <!-- Cart Close -->
            <i class='bx bx-x' id="close-cart"></i>
        </div>
    </div>
</header>

<section class="shop container">
    <h2 class="section-title"> Productos </h2>

    <div class="shop-content">
        {% for x in productos %}
        <div class="product-box">
            {% if x.imagen %}
            <img src="{{x.imagen.url}}" alt="" class="product-img">
            {% endif %}
            <h2 class="product-title"> {{x.nombre_pro}} - {{x.categoria}} </h2>
            <h4> {{ x.artista}} </h4>
            <span class="price"> ${{x.precio}} </span>
            <i class='bx bx-shopping-bag add-cart' data-product-id="{{x.id}}"></i>
        </div>

        {% endfor %}

    </div>
</section>

<script src="{% static 'js/productos2.js'%}"></script>
 <!--Para que funcionen los elementos de Bootstap-->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" 
 integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>   

</body>
</html>