{% extends 'tienda/base_admin.html'%}
{% load humanize %}
{% block contenido %}
<br>
<br>
    <section class="container">
        <div class="d-flex justify-content-center " id="titulo">
            <h2>Listado de los productos</h2>
        </div>
        <div class="table-hover table-responsive mt-5">
            <table class="table table-striped" style="background-color: white">
                <tr>
                    <th>NOMBRE</th>
                    <th>ARTISTA</th>
                    <th>PRECIO</th>
                    <th>CATEGORÍA</th>
                    <th>IMAGEN</th>
                    <th>OPCIONES</th>
                    <th></th> 
                </tr>
                {% for p in productos %}
                <tr>
                    <td>{{p.nombre_pro}}</td>
                    <td>{{p.artista}}</td>
                    <td>${{p.precio | intcomma}}</td>
                    <td>{{p.categoria}}</td>
                    {% if p.imagen %}
                    <td><img src="{{p.imagen.url}}" alt="imagen-producto" class="w-25"></td>
                    {% endif %}
                    <td><a href="{% url 'modificar-producto' p.id %}" class="btn btn-success">Modificar</a></td>
                    <td><a href="{% url 'eliminar-producto' p.id %}" class="btn btn-danger">Eliminar</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
<br>
<br>
{% endblock %}