{% extends 'tienda/base_admin.html'%}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block contenido %}

<br>
<br>
    <section class="container">
        <div class="d-flex justify-content-center "  id="titulo">
            <h2>Modificar producto</h2>
        </div>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-12-md-6">
                <div class="card"  style="background-color: rgb(245, 245, 245);">
                    <div class="card-body">
                        {{mensaje}}
                        <form action="" method="post" enctype="multipart/form-data">

                            {% csrf_token %}
                            {{form | crispy}}
                            <div class="d-flex justify-content-evenly">
                                <input type="submit" value="Guardar cambios" class="btn btn-primary">
                                <a class="btn btn-secondary" href="{% url 'listar-producto'%}" role="button">Cancelar</a>
                                
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <br>
{% endblock %}