
.pie-pagina{  
    width: 100%;
    background-color: rgb(10, 10, 22);
    color: white;
}
.pie-pagina #grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
}
.pie-pagina #grupo-1 #box .insta,
.pie-pagina #grupo-1 #box .correo,
.pie-pagina #grupo-1 #box .whatsapp,
.pie-pagina #grupo-1 #box .dire,
.pie-pagina #grupo-1 #box .reparto{
    display: flex;
    justify-content: center;
}
.pie-pagina #grupo-1 #box h2{
    display: grid;
    place-items: center;
    color: white;
    margin-bottom: 20px;
    font-size: 20px;   
}
.pie-pagina #grupo-1 #box p{
    margin-bottom: 10px;
    display: grid;
    place-items: center;
    font-size: 20px;
    margin-right: 6px;
}
.pie-pagina .grupo-2{
    text-align: center;
    color: gray;
    font-size: 20px;
}

#descripcion-artista{
    font-size: 20px;
    text-align: justify;
    padding: 40px;
}
#descripcion-artista strong{
    font-size: 22px;
}

#alerta {
    text-align: center;
}